<section class="w-full flex items-baseline justify-between gap-4">
  <div class="flex gap-2 items-center mb-2">
    <mat-form-field appearance="outline">
      <mat-label>Buscar por</mat-label>
      <mat-select
        multiple
        (selectionChange)="seleccionarColumnasFiltro($event)"
        [value]="columnasFiltroSeleccionadas()">
        <mat-option *ngFor="let columna of columnasDisponiblesFiltro()" [value]="columna.key">
          {{ columna.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        #inputBusqueda
        [value]="textoBusqueda()"
        (input)="textoBusqueda.set(inputBusqueda.value || '')" />
    </mat-form-field>

    <button appButtonStyle="secondary-outline" type="button" (click)="aplicarFiltros()">
      <span class="material-symbols-outlined">filter_alt</span>
      Filtrar
    </button>
  </div>

  <div class="flex gap-2 items-center">
    <button appButtonStyle="primary-outline" type="button" (click)="descargarPdf()">
      <span class="material-symbols-outlined">picture_as_pdf</span>
      PDF
    </button>

    <button appButtonStyle="primary-outline" type="button" (click)="descargarXlsx()">
      <span class="material-symbols-outlined">table_chart</span>
      XLSX
    </button>
  </div>
</section>

<section class="table-container">
  <div class="table-wrapper">
    <table mat-table [dataSource]="fuenteDatos" matSort class="tabla-ajustada">
      <ng-container *ngFor="let columna of columnas()" [matColumnDef]="columna.key">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="columna-{{ columna.key }}"
          [disabled]="!esColumnaOrdenable(columna)">
          {{ columna.title }}
        </th>

        <td mat-cell *matCellDef="let fila" class="columna-{{ columna.key }}">
          @if(columna.haveAction){
          <button
            [appButtonStyle]="obtenerClasesBoton(columna.buttonAppearance, columna.buttonType)"
            type="button"
            (click)="ejecutarAccion(columna, fila)">
            {{ fila?.[columna.key] }}
          </button>
          } @else {
          {{ formatearCelda(fila?.[columna.key], columna.pipe) }}
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnasVisibles()"></tr>
      <tr mat-row *matRowDef="let fila; columns: columnasVisibles()"></tr>
    </table>
  </div>
</section>

<mat-paginator [pageSizeOptions]="opcionesTamanoPagina()"></mat-paginator>
