<article class="header bg-secondary-100 w-full">
  <section class="header__logo">
    <img width="100%" [src]="'/assets/img/logo/santander_logo.svg'" alt="Santander" />
  </section>
  <section class="header__perfil">
    <img src="" alt="Foto de perfil" />
    <div class="perfil">
      <span class="perfil__nombre text-primary-700 text-sm">{{ 'NombreDelPerfil' }}</span>
      <span class="perfil__puesto text-secondary-500 text-xs">{{ 'PuestoDelPerfil' }}</span>
    </div>
  </section>
</article>
